<div class="container">
  <div class="row">
    <div class="col-md-12 borderline">
      <section class="mt-5 headline">Our Story</section>
    </div>
    <div class="col-md-12 p-0">
      <div class="row">
        <div class="col-md-7 mt-5">
          <img src="../../assets/images/AboutUs.png" class="rounded" width="650">
        </div>
        <div class="col-md-5 mt-5">
          <div class="row">
            <div class="col-md-12">
              <section>
                RIPI is entirely new company in IT world. Currently we are based in Sofia, Bulgaria.
                Our passion is creating beautiful, functional, and engaging websites and applications that work and look great on every device and platform.
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
