<div class="container">
  <div class="row">
    <div class="col-md-12 borderline">
      <section class="mt-5 headline">Web Development Portfolio</section>
    </div>
    <div class="col-md-12">
      <section class="mt-3">
        With technology paving the way for future business success, the need for a stunning and impressive digital presence has become more important than ever before.
        Our web development work displays an attention to detail and creative spark you won’t find with any other App Development Company.
        Browse through our portfolio to check out some of our latest projects.
      </section>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <img src="../../assets/images/AppConceptualDesign.jpg" class="rounded" width="538">
    </div>
    <div class="col-md-6 pr-0">
      <section class="headline borderline" style="padding-left: 14px;">
        App Conceptual Design
      </section>
      <section class="mt-3">
        Developing a strong user interface is essential if you’re looking to attract interest and attention with your target audience.
        At Triple Software Solutions, our Graphic Design services can play an integral role in successfully promoting you and your business.
        From the initial design concept to the final outcome, we work diligently towards bringing your vision to life in the most professional manner.
      </section>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 pl-0">
      <section class="headline borderline" style="padding-left: 14px;">
        Landing Page Animation
      </section>
      <section class="mt-3 p-0">
        At Triple Software Solutions, we know what it means to give each project the personalized attention it deserves.
        We always strive to deliver state-of-the-art designs that bring our clients’ vision to life.
        This project is a great example of how we keep our clients’ interests in mind by creating unique visual elements and user interactivity.
      </section>
    </div>
    <div class="col-md-6 pr-0">
      <img src="../../assets/images/LandingPageAnimation.jpg" class="rounded float-right"  width="538">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
  <!--<div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12 borderline">
          <section class="mt-5 headline">Landing Page Animation</section>
        </div>
        <div class="col-md-12">
          <section class="mt-3">
            While working on the Landing Page Animation project, we were determined to produce an outcome with a stunning visual appeal that wouldn’t compromise on functionality.
            The team had to dig deep into their prior experiences of providing personalized web development services, and we’re proud to say that the final product turned out sensationally.
          </section>
        </div>
      </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12 borderline">
          <section class="mt-5 headline">App Conceptual Design</section>
        </div>
        <div class="col-md-12">
          <section class="mt-3">
            At Triple Software Solutions, we know what it means to give each project the personalized attention it deserves.
            We always strive to deliver state-of-the-art designs that bring our clients’ vision to life.
            This project is a great example of how we keep our clients’ interests in mind by creating unique visual elements and user interactivity.
          </section>
        </div>
      </div>
    </div>
  </div>-->
</div>
