<div class="container">
  <div class="row">
    <div class="col-md-12 borderline">
      <section class="mt-5 headline">Contact Us</section>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 p-0 middle contactUs">
      <div class="row">
        <div class="col-md-6 text-right pr-0 pb-2">Address:</div><div class="col-md-6 pb-2">Druzhba 2, 214 A</div>
        <div class="col-md-6 text-right pr-0 pb-2">City:</div><div class="col-md-6 pb-2">Sofia</div>
        <div class="col-md-6 text-right pr-0 pb-2">Zipcode:</div><div class="col-md-6 pb-2">1582</div>
        <div class="col-md-6 text-right pr-0 pb-2">Country:</div><div class="col-md-6 pb-2">Bulgaria</div>
        <div class="col-md-6 text-right pr-0 pb-2">E-mail:</div><div class="col-md-6 pb-2">ripisoft@outlook.com</div>
        <div class="col-md-6 text-right pr-0 pb-2">Phone 1:</div><div class="col-md-6 pb-2">+359 877 078 718</div>
        <div class="col-md-6 text-right pr-0 pb-2">Phone 2:</div><div class="col-md-6 pb-2">+359 885 703 266</div>
      </div>
    </div>
    <div class="col-md-6 p-0">
      <img src="../../assets/images/ContactUs.jpg" class="rounded float-right" width="538">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12 p-0">
      <div #mapContainer id="map"></div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
</div>
