<div class="container">
  <div class="row">
    <div class="col-md-12 borderline">
      <section class="mt-5 headline">A Creative App Development Company</section>
    </div>
    <div class="col-md-12">
      <section class="mt-3">
        We believe form and function go hand-in-hand when it comes to web development.
        We are based in Sofia, Bulgaria and offer solutions for each stage of the implementation of client's projects and ideas to meet their requirements and needs.
        Whether you’re interested in giving your personal website a creative boost, or building a business and looking to create a unique brand and presence online,
        our services are tailored to suit your specific requests.
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 borderline">
      <section class="mt-5 headline">What We Offer</section>
    </div>
    <div class="col-md-12">
      <section class="mt-3">
        We provide exceptional services at competitive rates. Whether you’re looking for an expert
        to add a finishing touch to your website, or are looking to build one from scratch — RIPI is the
        go-to source for all your web development needs. Contact us today and see what we can do for you.
      </section>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <img src="../../assets/images/CarHistory.jpg" class="rounded" width="538">
    </div>
    <div class="col-md-6 pr-0">
      <section class="headline borderline" style="padding-left: 14px;">
        Car History
      </section>
      <section class="mt-3">
        CarHistory is a project about tracking information and details about your car,
        whether it will be technical information about the car, or all the different parts of a specific car model,
        information about car service visits and etc. The project is build with the open-source web-development framework ASP.NET Core.
      </section>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 pl-0">
      <section class="headline borderline" style="padding-left: 14px;">
        Talk a Lot
      </section>
      <section class="mt-3 p-0">
        Talk a Lot is another project of RIPI which is about NLP(Natural language processing),
        understanding and processing human speech with the help of AI.
        Project is developed with the help of C++ and Python.
      </section>
    </div>
    <div class="col-md-6 pr-0">
      <img src="../../assets/images/TalkALot.jpg" class="rounded float-right" width="538">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
</div>
